<div class="container my-4">
<h3> Add Todo Task</h3>

<form (ngSubmit)="onSubmit()">
    <div class="form-group my-2">
      <label for="title">Todo Title</label>
      <input type="text" class="form-control my-2" [(ngModel)]="title" name="title" id="title" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Enter your todo title briefly</small>
    </div>
    <div class="form-group">
      <label for="desc">Todo Description</label>
      <input type="text" class="form-control"  name="desc" [(ngModel)]="desc" id="desc">
    </div>
   
    <button type="submit" class="btn btn-primary  my-4">Add Todo</button>
  </form>
</div>